
@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<h2>Movie Time</h2>
<!--skal gjøre om koden lit liste som vi ser nedenfor, men er usikker på om jeg skal bruke link eller button for elementene altså bildene av de ulike filmene-->
<ul id="movieselection">
    <li><a </li>
</ul>
<div class="container">
    <!--Må gjøres dynamisk med database, koden nedenfor skal bli gjort om til liste-->
    <button class="btn">The Hunger Games</button>
    <button>King Kong</button>
    <button>Iron Man</button>
    <button>Predator</button>
    <button>It</button>
</div>
    
    <style>
        .btn {
            height: 300px;
            width: 200px;
            background: url('../../Images/thehungergames.jpg');
            background-color: red;
            background-repeat: no-repeat;
        }
    </style>



