@model List<MovieTime.Models.Movie>

@{
    ViewBag.Title = "Index";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="jquery-1.11.2.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

</head>

<h2>Movie Time</h2>

<div class="container">
    <ul class="list-inline">
        @foreach (var item in Model)
        {
            <li class="list-inline-item">
                <input type="image" src="@item.ImageURL" alt="bildetest" />
            </li>
        }

    </ul>

</div>
<script type="text/JavaScript">
    $(function () {
        $(".list-inline-item").click(function () {
            alert("Hello World jQuery");
        }) 
    });
</script>








