
@{
    ViewBag.Title = "Index";
}

<head>
    <style>
    body { background-color: gray; 
           background: url("C:/Users/Muneeb/Pictures/wallpapers/Plane.png") center;

    }
    </style>
</head>
<body>
    <h2>Movie Times</h2>

</body>





